/oracle-watchdog
/bin/
/dist/
*.test
*.deb
coverage.out
integration-coverage.out
packaging/changelog.gz
web/public/
web/resources/
web/.hugo_build.lock
web/content/godoc/*.md
!web/content/godoc/_index.md
